$btn-color: rgb(165, 158, 158);
$text-color: black;
$form-color: rgb(123, 133, 143);
$error-color: rgb(207, 4, 4);
$hit-color: rgb(88, 32, 32);
$allied-color: rgb(5, 94, 5);
$dead-color: rgb(19, 18, 18);
$preshow-color: rgb(97, 97, 12);

$border: 2px solid $text-color;

$main-font: "Muller", sans-serif;
